---
Checks: >
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cert-err58-cpp,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -modernize-use-trailing-return-type,
  -misc-unused-parameters,
  -readability-function-cognitive-complexity,
  -misc-unused-parameters
InheritParentConfig: true
...
